.signature {
    margin-top: 4em;
    font-size: 0.6em;
    text-align: right;
}

.hide {
    display: none;
}
.h-small {
    height: 250px;
}
.h-med {
    height: 350px;
}
.h-norm {
    height: 400px;
}
.h-high {
    height: 500px;
}
.h-small img {
    height: 250px;
}
.h-med img {
    height: 350px;
}
.h-norm img {
    height: 400px;
}
.h-high img {
    height: 500px;
}

/* 
 * Image source "on hover" handling.
 */
.source p, .source ol {
    display: none;
    position: absolute;
    background-color: black;
    bottom: 0;
    width: 100%;
    font-size: small;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 0.5em;
}
.source ol {
    padding-left: 20px;
}
.source {
    font-size: small;
    text-align: left;
    cursor: pointer;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 0.5em;
}
.source::after {
    content: "\1f6c8  img source";
}
.source:hover p, .source:hover ol {
    display: block;
}
.white-bg {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
